/*배경 css*/
.container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*로고 css*/
.title-logo {
    margin-bottom: 20px;
    cursor: pointer;
}

/*로고 css*/
.Login-Join-logo {
    width: 250px;
}

/*로그인,회원가입 전체 폼 css*/
.Login-Join {
    background-color: #FFFFFF;
    border: 5px solid #DAEFF1;
    width: 600px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
}

/*뒤로가기 버튼 css*/
.back-button {
    color: gray;
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/*입력창 전체 css*/
.input-container {
    margin-top: 20px;
}

/*입력창 css*/
.input-text {
    width: 300px;
    height: 17px;
    padding-left: 10px;
    padding-top: 11px;
    padding-bottom: 8px;
    border: 3px solid #D6D6D6;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

/*입력창 효과 css*/
.input-text:focus {
    border: 3px solid #DAEFF1;
    outline: none;
}

/*글자 <p>태그 css*/
.font-text {
    color: gray;
}

/*로그인,회원가입 버튼 css*/
.button {
    width: 250px;
    height: 40px;
    margin: 10px;
    margin-top: 35px;
    background-color: #DAEFF1;
    border: none;
    cursor: pointer;
}

/*회원가입 창으로 넘어가는 버튼 css*/
.join-Btn {
    text-decoration: none;
    color: #000000;
}

/*회원가입 창으로 넘어가는 버튼 효과 css*/
.join-Btn:hover {
    color: #DAEFF1
}