/*페이지네이션 컨테이너 css*/
.pagination-container{
    display: flex;
    justify-content: center;
    margin: 40px 15px;
    padding-right: 20px;
}
.page-nav {
    text-align: center;
    margin: 20px;
  }
  /*페이지네이션 버튼 css*/
  .page-nav-btn {
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    margin: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
    /*페이지네이션 버튼 효과 css*/
  .page-nav-btn:hover {
    background-color: #FFFFFF
  }
  
  .page-nav-btn:disabled {
    background-color: #FFFFFF;
    cursor: not-allowed;
  }
  
  /* 눌린 상태 스타일 */
  .page-nav-btn.active {
    background-color: #DAEFF1;
}
