/* Pagination.css */

/* 페이지 네비게이션 버튼 */
.page-nav {
    text-align: center;
    margin: 20px;
}

.page-nav-btn {
    background-color: #D6D6D6;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    margin: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.page-nav-btn:hover {
    background-color: #A9A9A9;
}

.page-nav-btn:disabled {
    background-color: #E0E0E0;
    cursor: not-allowed;
}
