.review-detail-container{
    max-width: 730px;
    margin: 30px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-height: 50vh;
    height: 500px;
}
.review-detail-form-container{
    display: flex;
    justify-content: center;
}
.review-detail-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
}
.review-back-button{
    margin-right: 700px;
    color: gray;
    cursor: pointer;
}
.review-detail-form-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review-detail-text{
    background: #FFFFFF;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    border-left: 5px solid #DAEFF1;
    text-align: left;
    width: 600px;
}
.review-detail-title-header{
    padding-right: 10px;
}
/* 버튼 컨테이너 스타일 */
.review-detail-buttons {
    display: flex;
    justify-content: center;
}
/* 리뷰 수정/삭제 버튼 스타일 */
.review-detail-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    background: #DAEFF1;
    width: 150px;
    height: 40px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}