/*리뷰 페이지 전체  div css*/
.review-add-container {
    display: flex;
    justify-content: center;
}
/*리뷰 작성 컨포넌트 상단 제목 css*/
.review-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
}
/*리뷰 페이지 전체 안 div css*/
.review-add-detail-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f9f9f9;
    width: 785px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 30px;
    height: 830px;
    position: relative;
}
/*리뷰 작성하는 장소 컨포넌트 css*/
.before-information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    border: 2px solid #D6D6D6;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 550px;
    height: 250px;
}
/*리뷰 작성하는 장소 컨포넌트 안 이미지 css*/
.before-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
}
/*리뷰 작성하는 장소 컨포넌트 안 타이틀 css*/
.before-title {
    padding-left: 40px;
}
/*리뷰 작성하는 카드 안 타이틀 css*/
.form-title {
    font-size: 13px;
}

/* 뒤로 가기 버튼 스타일 */
.review-back-button {
    color: gray;
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
/*리뷰 작성하는 평점 별 css*/
.star-lg {
    color: yellow;
    font-size: 35px;
    transition: color 0.3s ease;
}
/*리뷰 작성하는 평점 별끼리 위치css*/
.stars,
.star-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*리뷰 작성하는 평점 별끼리 너비 css*/
.stars {
    padding-top: 5px;
    padding-left: 5px;
}
/*리뷰 작성하는 폼 컨테이너 css*/
.reviewform-container {
    display: flex;
    align-items: center;
    width: 550px;
    height: 470px;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #D6D6D6;
}
/*리뷰 작성하는 폼 상단 제목 css*/
.review-header {
    font-size: 20px;
    margin-bottom: 17px;
}
/*리뷰 작성하는 폼 작성 css*/
.star-text-container {
    margin-bottom: 20px;
}
/*리뷰 작성하라는 폼 제목 css*/
.review-title {
    margin-bottom: 30px;
}
/*리뷰 작성하는 폼 작성 제목 css*/
.reviewform-title {
    width: 350px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}
/*리뷰 작성하는 폼 작성 내용 css*/
.reviewform-text {
    width: 350px;
    height: 150px;
    padding: 10px;
    line-height: 1.5;
    margin-left: 10px;
    outline: none;
}
/*리뷰 작성하는 폼 작성 상자 효과 css*/
input:focus,
select:focus {
    outline: none;
}
/*리뷰 작성하는 폼 작성 버튼 css*/
.reviewform-btn {
    background: #DAEFF1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}