/* 일정 상세 페이지 컨테이너 */
.schedule-detail-container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background: #F9F9F9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-height: 50vh;
    position: relative;
}

/* 일정 상세 헤더 스타일 */
.schedule-detail-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 일정 제목 스타일 */
.schedule-detail-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    width: 100%;
}

/* 일정 정보 텍스트 스타일 */
.schedule-detail-container p {
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
    font-size: 16px;
}

/* 일정 목록 스타일 */
.schedule-detail-container ul {
    list-style: none;
    padding: 0;
}

.schedule-detail-container li {
    background: #FFFFFF;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    border-left: 5px solid #DAEFF1;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.schedule-detail-container li p {
    margin: 5px 0;
}

.schedule-back-button {
    color: gray;
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* 버튼 스타일 */
.schedule-detail-buttons {
    display: flex;
    justify-content: center;
}

.schedule-detail-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    background: #DAEFF1;
    width: 150px;
    height: 40px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.schedule-detail-button:hover {
    background-color: #C0E7E9;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .schedule-detail-container {
        padding: 15px;
        margin: 20px;
    }

    .schedule-detail-title {
        font-size: 22px;
        text-align: center;
    }

    .schedule-detail-container p {
        font-size: 16px;
    }
}