/* isSchedulePage 적용 시 */

/* 검색창을 감싸는 컨테이너 */
.scheduleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

/* 검색창 레이아웃 박스 */
.scheduleBox {
    display: flex;
    align-items: center;
    width: 42.5%;
    max-width: 600px;
    border-radius: 20px;
    padding: 10px 15px;
    gap: 10px;
    margin-left: 37.5px;
}

/* 검색창 */
.scheduleInput {
    flex: 1;
    padding: 8px;
    border: 1px solid #D6D6D6;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

/* 검색 버튼 */
.scheduleButton {
    border: none;
    background: #89D2E6;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* 검색 버튼 비활성화 */
.scheduleButton:disabled {
    background: #DAEFF1;
}

/* 검색 버튼 호버 (활성화일 때) */
.scheduleButton:hover:not(:disabled) {
    background: #4DC1DF;
}

/* isSchedulePage 미적용 시 */

/* 검색창을 감싸는 컨테이너 */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px 0;
}

/* 검색창 레이아웃 박스 */
.box {
    display: flex;
    align-items: center;
    width: 40%;
    max-width: 500px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 8px 15px;
    gap: 10px;
}

/* 검색창 */
.input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 8px;
    background: transparent;
}

/* 검색 버튼 */
.button {
    border: none;
    background: #89D2E6;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* 검색 버튼 비활성화 */
.button:disabled {
    background: #DAEFF1;
}

/* 검색 버튼 호버 (활성화일 때) */
.button:hover:not(:disabled) {
    background: #4DC1DF;
}